<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Struts 2.0 Hello World</display-name>
	 <context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>EGC</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>cgi</servlet-name>
		<servlet-class>org.apache.catalina.servlets.CGIServlet</servlet-class>
		<init-param>
			<param-name>clientinputTimeout</param-name>
			<param-value>100</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>passShellEnvironment</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
		  <param-value>C:\Python27\ArcGIS10.2\python.exe</param-value>		</init-param>
		<init-param>
			<param-name>executable</param-name>
			<param-value>C:\Python27\ArcGIS10.1\python.exe</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>cgi</servlet-name>
		<url-pattern>/cgi-bin/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>easyGeoComputing.html</welcome-file>
	</welcome-file-list>


</web-app>